# Bery Chain Configuration

# Your Validator Private Key (Keep this secret!)
# Generate one using: npm run create-wallet
PRIVATE_KEY=c0c237c395fa01d975651c346995e378ab199cc1b40c6dbb353fad9363c2d621

# P2P Port (Default: 3000)
P2P_PORT=3000

# API Port (Default: 8080)
API_PORT=8080

# Chain Configuration
CHAIN_ID=8379

# Bootstrap Peers (comma separated multiaddrs)
# e.g. /ip4/192.168.1.100/tcp/3000/p2p/Qm...
BOOTSTRAP_PEERS=
